<!-- header.component.html -->
<header id="header">
    <nav class="nav-links">
      <a href="#sobre-nos">Sobre Nós</a>
      <a href="#servicos">Serviços</a>
      <a href="#contato">Contato</a>
      <a href="#faq">Perguntas Frequentes</a>
    </nav>        
      
      <div class="nome">
            <img src="logo.png" alt="Logo da Advocacia"/>
            <p><span>DGM </span>Advogados Associados</p>
      </div>

    <div class="redes-sociais">
        <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-square-facebook" style="color: #ffdd57;"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram" style="color: #ffdd57;"></i></a>
        <a href="https://x.com" target="_blank"><i class="fa-brands fa-x-twitter" style="color: #ffdd57;"></i></a>
    </div>
  </header>
  