<footer class="footer">
    <div class="footer-image">
      <a href="#top"><h2>DGM Advogados Associados</h2></a>
      <a href="#top"><img src="logo.png" alt="Logo" /></a>
    </div>
    <div class="footer-content">
      <div class="footer-section">
        <h3>Contato</h3>
        <p>E-mail: contato&#64;dgm.com</p>
        <p>Telefone: (61) 98765-4321</p>
      </div>
      <div class="footer-section">
        <h3>Horário de Funcionamento</h3>
        <p>Segunda a Sexta: 08:00 - 18:00</p>
        <p>Sábado: 08:00 - 12:00</p>
        <p>Domingo: Fechado</p>
      </div>
      <div class="footer-section">
        <h3>Localização</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15354.733573927253!2d-48.0697127!3d-15.8206397!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3391b366fc47%3A0x88c16b784a3ad98f!2sSenai%20Taguatinga!5e0!3m2!1spt-BR!2sbr!4v1731680527934!5m2!1spt-BR!2sbr" 
        width="300" 
        height="200" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 DGM Advogados Associados. Todos os direitos reservados.</p>
    </div>
  </footer>  