<!-- carousel.component.html -->
  <div class="carousel">
    <div class="carousel-slide">
      <img src="img1.webp" alt="Imagem 1" />
      <div class="carousel-text">Nossa advocacia oferece consultoria jurídica empresarial para apoiar sua empresa em diversas áreas do direito, incluindo contratos, disputas comerciais, questões tributárias e regulatórias. Garantimos que sua empresa esteja sempre em conformidade com a legislação vigente, minimizando riscos legais e maximizando a segurança jurídica nas operações comerciais.</div>
    </div>
    <div class="carousel-slide">
      <img src="img2.jpg" alt="Imagem 2" />
      <div class="carousel-text">Nossa equipe oferece defesa completa em questões trabalhistas, tanto para empregados quanto empregadores. Atuamos em ações relacionadas a salários, horas extras, rescisões contratuais e assédio no ambiente de trabalho, buscando soluções justas e eficientes para a resolução de conflitos.</div>
    </div>
    <div class="carousel-slide">
      <img src="img3.jpg" alt="Imagem 3" />
      <div class="carousel-text">Ajudamos nossos clientes a resolver questões delicadas no âmbito do direito de família, como divórcios, guarda de filhos, pensão alimentícia e partilha de bens. Também oferecemos assessoria em processos de sucessão, garantindo a correta distribuição dos bens e direitos de acordo com a vontade do falecido ou a legislação vigente.</div>
    </div>
  </div>
  