/* carousel.component.css */
.carousel {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-slide {
    display: flex;
    animation: slide 35s infinite;
    transition: transform 0.5 ease-in-out;
  }
  
  .carousel-slide img {
    width: 100vw;
    max-height: 500px;
    object-fit: cover;
    flex-shrink: 0;
  }

  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
    border-radius: 50%;
  }
  
  .carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }
  
  .carousel-text {
    position: absolute;
    top: 70%;   /* Centraliza o texto verticalmente */
    left: 50%;  /* Centraliza o texto horizontalmente */
    transform: translate(-50%); /* Ajusta a posição do texto para ficar exatamente no centro */
    color: #ffdd57; /* Cor do texto */
    font-size: 24px; /* Tamanho do texto */
    font-weight: bold;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7); /* Adiciona sombra para melhorar a legibilidade */
    text-align: center; /* Garante que o texto fique centralizado */
    width: 80%; /* Ajuste a largura do texto conforme necessário */
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px; 
    border-radius: 5px;
  }

  @keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
  }